{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% load custom_tags %}

{% block title %}
{{ Newspaper }}
{% endblock title %}

{% block content %}
<h1> Все новости </h1>
<!--<h3>{{ time_now|date:'M d Y' }}</h3>-->

<h3>{% current_time '%b %d %Y' %}</h3>
<h3>{{ next_publication|default_if_none:'Следующие новости завтра!' }}</h3>
<form action="" method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Найти" />
    </form>

<hr>

    {% if perms.news.create_news %}
    <a href="{% url 'News_create' %}">Добавить новость</a>
    {% endif %}

    {% if Newspaper %}
        <table>
            <tr>
                <td>Заголовок</td>
                <td>Дата создания</td>
                <td>Текст</td>
                <td>Автор</td>
                <td>Рейтинг</td>
                {% if perms.news.change_news or perms.news.delete_news %}
                <td>Действия</td>
                {% endif %}

            </tr>
            {% for newspaper in Newspaper %}
            <tr>
                <td>{{ newspaper.title|truncatechars:30 }}</td>
                <td>{{ newspaper.dateCreation|date:'d M Y' }}</td>
                <td>{{ newspaper.text|truncatewords:20 }}</td>
                <td>{{ newspaper.author }}</td>
                <td>{{ newspaper.rating }}</td>
                <td>
                    {% if perms.news.change_news %}
                    <a href="{% url 'News_update' pk=newspaper.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.news.delete_news %}
                    <a href="{% url 'News_delete' newspaper.id %}">Удалить</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2> Новостей нет </h2>
    {% endif %}

    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
<!--        <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>-->
        <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}
<!--    {{ page_obj.paginator.num_pages }}-->

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            <a href='?{% url_replace page=page_obj.paginator.num_pages %}'>{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}